/* Set the default padding and margin for the entire webpage to zero */
* {
    padding: 0;
    margin: 0;
}

/* Styles for the page header */
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for the canvas object */
canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    touch-action: none; /* this prevents touch input within the canvas from shifting the entire screen */
}

button {
    display: block;
    margin: 0 auto;
}

/* Styles for the div containing the description text
 * Styles that apply to all text in the div are placed here */
.descriptionContainer {
    margin: auto;
    width: 480px;
    height: 320px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descriptionContainer .headingText {
    text-decoration: underline;
}

.descriptionContainer .descriptionText {
    font-size: 16px;
}